body {
  font-family: Bookerly, serif !important;
}

p {
  font-size: 17px !important;
  hyphens: auto !important;
  -epub-hyphens: auto !important;
  margin-bottom: 1em !important;
  text-align: justify !important;
  hanging-punctuation: first last;
}

hr {
  border: none;
  border-top: 1px solid;
  height: 0;
  margin: 1.5em auto;
  width: 25%;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  break-inside: avoid;
  break-after: avoid;
  font-weight: bold;
  hyphens: none;
  -epub-hyphens: none;
  margin: 3em 0;
  text-align: center;
}

abbr {
  border: none;
  white-space: nowrap;
}

ol,
ul {
  margin: 1em 0;
}
