body {
  font-family: Bookerly, serif !important;
}

p {
  font-size: 17px !important;
  hyphens: auto !important;
  -epub-hyphens: auto !important;
  text-align: justify !important;
  hanging-punctuation: first last;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  break-inside: avoid;
  break-after: avoid;
  font-family: "Bookerly Display";
  font-weight: bold;
  margin: 3em 0;
  text-align: center;
}

ol,
ul {
  margin: 1em 0;
}
